html, body{
    font-family: Helvetica, Fantasy, Arial, sans-serif;
    height:100%;
    width:100%;
}

.jumbotron{
    text-align: center;
}

/*onclick="document.getElementById('login').style.display='block'" style="width:auto
*/
h2{
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container-form{
    padding: 16px;
    margin-left:10px;
    margin-right: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.navbar{
    margin-bottom: 0px;
}

#login-button{
    width:10%;
    min-width: 100px;
    background-color: skyblue;
    border-radius: 5px;

}

#signup-button{
    width:10%;
    min-width: 100px;
    background-color: transparent;
    border-radius: 5px;
}

#fb{
    background-color: #3b5998;
    border-radius: 5px;
    width:80%;
    margin-left: 10%;
}

p{
    font-size: 20px;
}

#logintext{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color:gray;
}

/* The Modal (background) */
#login {
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    max-width: 500px;
    padding-top: 60px;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed 
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4);  /*Black w/ opacity */
}

#signup {
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed 
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4);  /*Black w/ opacity */
    padding-top: 60px;
    max-width: 500px;

}

#container-login{
    margin-left: 25%;
    display: flex;
    justify-content: center;    
}

 /*Modal Content/Box*/ 
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;  /*5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }

	#chatheader {
	   position:fixed;
	   top: 0;
	   left: 0;
	   right: 0;
	   /*height: 75px;*/
	   width:100%;
	}

	#chatfooter {
	   position:fixed;
	   left:0px;
	   bottom:0px;
	   height: 80px;
	   width:100%;
	}

	#chatcontent {
	    position: fixed;
	    top: 66px;
	    bottom: 80px;
	    left: 0;
	    right: 0;
	    overflow: auto;
	}

  #send {
      font-size: 4vmin;
      text-align: center;
      padding: 0px;
  }

}

/*Formatting swole lobby -----------------------------------------------------*/
.messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1px;
      -ms-flex: 1 1px;
          flex: 1 1px;
  background: #F1F5F8;
  overflow-y: scroll;
}
.messages ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
.messages ul::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.messages li {
  float: left;
  clear: both;
  line-height: 1.4em;
  max-width: 224px;
  margin: 12px;
  padding: 0.7em 16px;
  border-radius: 18px;
  font-family: sans-serif;
  color: whitesmoke;
}

.messages .li-left {
    background-color: #1b85e4;
}

.messages .li-right {
  float: right;
  background: #87BB71;
}

.messagewindow {
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*border-right: 3px solid #d2d2d2;*/
}

.chatForm {
  background: gainsboro;
  border-top: 2px solid #d2d2d2;
}

.form-inner {
  height: 80px;
  border-radius: 2px;
  background: whitesmoke;
  
}

.form-inner input {
    padding: 0px;
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
    margin: 0px;
}
.form-inner button {
  height: 60px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  color: whitesmoke;
  background: skyblue;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.chatButton {
    padding-left: 10px !important;
    padding-right: 0px !important;
}

.chatBox {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.chatMessages {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.chatWindow {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 10px;
}

.linebottom {
    border-bottom: 2px solid #d2d2d2
}

.linetop {
    border-top: 2px solid #eaeaea;
}

#chatheader {
	position:fixed;
	top: 0;
	left: 15%;
	right: 15%;
	height: 75px;
    margin: 0px !important;
}

#chatcontent {
    position: fixed;
    top: 66px;
    bottom: 80px;
    left: 15%;
    right: 15%;
    height:100vh;
    overflow: hidden;
}

#chatfooter {
    position:fixed;
    left: 15%;
    right: 15%;
    bottom:0px;
    height: 80px;
}

#send {
    font-size: 4vmin;
    text-align: center;
}

#channelHeader {
    padding: 5px 0px 5px 0px;
    margin: 0px;
    background-image: linear-gradient(to bottom,#636363 0,#505050 100%);
    border-bottom: 3px solid #a5a5a5;
}

#channelText {
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 10px !important;
}

.chatchannels {
    background: whitesmoke;
    height: 200px;
}

.lobbychannels {
    padding: 0px !important;
    border-right: 3px solid #d2d2d2;
    /*border-left: 3px solid #d2d2d2;*/
}

.lobbynav {
    margin: 0px !important;
}

.channel {
    font-size: 3vh;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #d2d2d2;;
}

@media (max-width: 576px) {
  #chatheader {
        position:fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 75px;
        width:100%;
  }

    #chatfooter {
        position:fixed;
        left:0px;
        bottom:0px;
        height: 80px;
        width:100%;
    }

    #chatcontent {
        position: fixed;
        top: 66px;
        bottom: 80px;
        left: 0;
        right: 0;
        overflow: auto;
    }

    #send {
        font-size: 6vmin;
        text-align: center;
        padding: 0px;
    }

}

/* ------End of lobby css ------------------------------------------------*/

/* About Us Page */
.about-us-pic {
  max-height: 60vh;
}


main{
    width:100%;
    min-height:100%;
}

.splash{
    position: relative;
    background-image: url('../images/buddylift.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    min-width: 200px;
    height: 620px;
    padding-top: 1px;
}

.intro{
    position: relative;
    color:white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    line-height: 100px;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
    margin-top: 100px;
}

/*NAVBAR **/

#message{
    width: 10%;
    min-width: 100px;
    background-color: transparent;
}

#message-count{
    text-align: center;
    display: inline-block;
}


/* PROFILE CSS ***/

#profile{
    width:10%;
    min-width: 80px;
    background-color: transparent;
    border-radius: 5px;
}

#explore{
    width:10%;
    min-width: 80px;
    background-color: transparent;
    border-radius: 5px;
}

.choose-photo{
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed */
}
/*.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}*/

.profile-pic{
    border-radius: 10px;
    border: 2px gray solid;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    display: flex;
}

#image{
    background-image: url('../images/weight.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height:350px;
    margin: 0;
}

#pic-name{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#name{
    font-size: 30px;
    padding-top: 20px;
    margin: 0 auto;
    width:100%;
    height:100px;
    /*border: 2px solid gray;*/
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    margin-top: 20px;
    color:white;
    font-weight: bold;
}

#add-friend{
    margin-top: 20px;
    background-color: skyblue;
    max-width: 500px;
}

#asl{
    margin-top: -26px;
    text-align: center;
}

.asl-info{
    color:white;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

#bio{
    height:300px;
    overflow: auto;
}

.file-upload{
    width:90px;
}

.name-profile{
    text-align: center;
}

.about{
    border: 2px solid red;
    position: relative;
    margin-top: 40px;
}
/* ^ PROFILE CSS ^ */

