html, body{
    font-family: Helvetica, Fantasy, Arial, sans-serif;
    height:100%;
    width:100%;
}

.jumbotron{
    text-align: center;
}


/*onclick="document.getElementById('login').style.display='block'" style="width:auto
*/
h2{
    text-align: center;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}


img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container-form{
    padding: 16px;
    margin-left:10px;
    margin-right: 10px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.navbar{
    margin-bottom: 0px;
}

#login-button{
    width:10%;
    min-width: 100px;
    background-color: skyblue;
    border-radius: 5px;

}

#signup-button{
    width:10%;
    min-width: 100px;
    background-color: transparent;
    border-radius: 5px;
}

#fb{
    background-color: #3b5998;
    border-radius: 5px;
    width:80%;
    margin-left: 10%;
}

p{
    font-size: 20px;
}

#logintext{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color:gray;
}

/* The Modal (background) */
#login {
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    max-width: 500px;
    padding-top: 60px;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed 
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4);  /*Black w/ opacity */*/
}

#signup {
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed 
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4);  /*Black w/ opacity */
    padding-top: 60px;
    max-width: 500px;

}

#container-login{
    margin-left: 25%;
    display: flex;
    justify-content: center;    
}

 /*Modal Content/Box*/ 
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;  /*5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

main{
    width:100%;
    min-height:100%;
}

.splash{
    position: relative;
    background-image: url('../images/buddylift.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    min-width: 200px;
    height: 620px;
    padding-top: 1px;
}

.intro{
    position: relative;
    color:white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    line-height: 100px;
    background-color: rgba(0,0,0,0.4);
    padding: 0px;
    margin-top: 100px;
}

/*NAVBAR **/

#message{
    width: 10%;
    min-width: 100px;
    background-color: transparent;
}

#message-count{
    text-align: center;
    display: inline-block;
}


/* PROFILE CSS ***/

#profile{
    width:10%;
    min-width: 80px;
    background-color: transparent;
    border-radius: 5px;
}

#explore{
    width:10%;
    min-width: 80px;
    background-color: transparent;
    border-radius: 5px;
}

.choose-photo{
    display: none; /* Hidden by default */
    position: fixed;  /*Stay in place*/ 
    z-index: 1;  /*Sit on top */
    top: 0;
    width: 50%;  /*Full width*/ 
    height: 100%;  /*Full height*/ 
    overflow: auto;  /*Enable scroll if needed */
}
/*.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}*/

.profile-pic{
    border-radius: 10px;
    border: 2px gray solid;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    display: flex;
}

#image{
    background-image: url('../images/weight.jpg');
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height:350px;
    margin: 0;
}

#pic-name{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#name{
    font-size: 30px;
    padding-top: 20px;
    margin: 0 auto;
    width:100%;
    height:100px;
    /*border: 2px solid gray;*/
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    margin-top: 20px;
    color:white;
    font-weight: bold;
}

#add-friend{
    margin-top: 20px;
    background-color: skyblue;
    max-width: 500px;
}

#asl{
    margin-top: -26px;
    text-align: center;
}

.asl-info{
    color:white;
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

#bio{
    height:300px;
    overflow: auto;
}

.file-upload{
    width:90px;
}

.name-profile{
    text-align: center;
}

.about{
        border: 2px solid red;

    position: relative;
    margin-top: 40px;
}
/* ^ PROFILE CSS ^ */
